In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1=pd.read_csv('C:\\Users\\student.IT.000\\Desktop\\IT\DATA\\new.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (16,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
df1.head()

,Unnamed: 0,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
0,0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,...,0.0,0.0,0.0,0.0,0.0,5.0,138.823529,2,NaN,NaN
1,1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,...,0.0,0.0,0.0,0.0,0.0,5.0,138.823529,2,NaN,NaN
2,2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,...,0.0,0.0,0.0,0.0,0.0,5.0,138.823529,2,NaN,NaN
3,3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,...,0.0,0.0,0.0,0.0,0.0,5.0,138.823529,2,NaN,NaN
4,4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,...,0.0,0.0,0.0,0.0,0.0,5.0,138.823529,2,NaN,NaN

In [4]:
df1['City'].unique()

array(['Amaravati', 'Visakhapatnam', 'Guwahati', 'Patna', 'Chandigarh',
       'Delhi', 'Ahmedabad', 'Gurugram', 'Jorapokhar', 'Bengaluru',
       'Ernakulam', 'Kochi', 'Thiruvananthapuram', 'Mumbai', 'Shillong',
       'Bhopal', 'Aizawl', 'Brajrajnagar', 'Talcher', 'Amritsar',
       'Jaipur', 'Hyderabad', 'Chennai', 'Coimbatore', 'Lucknow',
       'Kolkata'], dtype=object)

In [5]:
df = df1[df1['City']=='Delhi']

In [6]:
df.head()

,Unnamed: 0,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,...,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NOx_SubIndex,NH3_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
141133,141133,DL001,2018-11-11 15:00:00,130.00,274.00,1.70,54.00,30.10,NaN,0.80,...,0.0,0.0,0.0,0.0,0.0,40.0,0.000000,1,NaN,NaN
141134,141134,DL001,2018-11-11 16:00:00,133.25,279.00,1.70,55.07,30.67,25.55,0.83,...,0.0,0.0,0.0,0.0,0.0,41.5,0.000000,1,NaN,NaN
141135,141135,DL001,2018-11-11 17:00:00,140.25,284.25,1.58,55.88,30.97,24.30,0.85,...,0.0,0.0,0.0,0.0,0.0,42.5,107.691176,2,NaN,NaN
141136,141136,DL001,2018-11-11 18:00:00,153.25,332.00,1.63,64.05,35.40,28.57,1.53,...,0.0,0.0,0.0,0.0,0.0,76.5,107.691176,2,NaN,NaN
141137,141137,DL001,2018-11-11 19:00:00,247.00,575.00,1.75,80.07,43.98,37.90,1.68,...,0.0,0.0,0.0,0.0,0.0,84.0,107.691176,2,NaN,NaN

In [7]:
df.shape

(1087388, 39)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1087388 entries, 141133 to 1228520
Data columns (total 39 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1087388 non-null  int64
 1   StationId              1087388 non-null  object
 2   Datetime               1087388 non-null  object
 3   PM2.5                  839384 non-null   float64
 4   PM10                   738227 non-null   float64
 5   NO                     865010 non-null   float64
 6   NO2                    868950 non-null   float64
 7   NOx                    903574 non-null   float64
 8   NH3                    628602 non-null   float64
 9   CO                     854290 non-null   float64
 10  SO2                    695728 non-null   float64
 11  O3                     824119 non-null   float64
 12  Benzene                730589 non-null   float64
 13  Toluene                691661 non-null   float64
 14  Xylene                 114594 non-null   float64
 15  AQI                    846100 non-null   float64
 16  AQI_Bucket             846100 non-null   object
 17  StationName            1087388 non-null  object
 18  City                   1087388 non-null  object
 19  State                  1087388 non-null  object
 20  Status                 1087388 non-null  object
 21  Date                   1087388 non-null  object
 22  PM10_24hr_avg          735336 non-null   float64
 23  PM2.5_24hr_avg         834604 non-null   float64
 24  SO2_24hr_avg           695303 non-null   float64
 25  NOx_24hr_avg           898237 non-null   float64
 26  NH3_24hr_avg           624008 non-null   float64
 27  CO_8hr_max             887380 non-null   float64
 28  O3_8hr_max             847604 non-null   float64
 29  PM2.5_SubIndex         1087388 non-null  float64
 30  PM10_SubIndex          1087388 non-null  float64
 31  SO2_SubIndex           1087388 non-null  float64
 32  NOx_SubIndex           1087388 non-null  float64
 33  NH3_SubIndex           1087388 non-null  float64
 34  CO_SubIndex            1087388 non-null  float64
 35  O3_SubIndex            1087388 non-null  float64
 36  Checks                 1087388 non-null  int64
 37  AQI_calculated         847664 non-null   float64
 38  AQI_bucket_calculated  847664 non-null   object
dtypes: float64(28), int64(2), object(9)
memory usage: 331.8+ MB

In [9]:
def encode()

SyntaxError: invalid syntax (Temp/ipykernel_12868/3236109618.py, line 1)

In [ ]:
df1.isnull().sum()

In [10]:

df1['AQI']=df1['AQI'].fillna(df1['AQI'].mean())
df1['PM10']=df1['PM10'].fillna(df1['PM10'].mean())
df1['NO']=df1['NO'].fillna(df1['NO'].mean())
df1['NO2']=df1['NO2'].fillna(df1['NO2'].mean())
df1['NOx']=df1['NOx'].fillna(df1['NOx'].mean())
df1['NH3']=df1['NH3'].fillna(df1['NH3'].mean())
df1['SO2']=df1['SO2'].fillna(df1['SO2'].mean())
df1['O3']=df1['O3'].fillna(df1['O3'].mean())
df1['Benzene']=df1['Benzene'].fillna(df1['Benzene'].mean())
df1['Toluene']=df1['Toluene'].fillna(df1['Toluene'].mean())
df1['Xylene']=df1['Xylene'].fillna(df1['Xylene'].mean())
df1['CO']=df1['CO'].fillna(df1['CO'].mean())

In [ ]:
df1.isnull().sum()

In [ ]:
sns.heatmap(df.corr())

In [ ]:
df.describe()

In [ ]:
sns.boxplot(data=df)

In [ ]:
drop_outlier = df[(df['AQI']>500) | (df['PM2.5']>180) | (df['NO']>65) |(df['NH3']>50) | (df['NO2']>90) | (df['NOx']>100) | (df['PM10']>450)].index

In [ ]:
df = df.drop(drop_outlier)

In [ ]:
df.info()

In [ ]:
sns.boxplot(data= df)

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'PM2.5', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'NO2', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'NH3', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'NOx', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
sns.heatmap(df.corr())

In [ ]:
df1

In [ ]:
sns.heatmap(df1.corr())

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'PM10', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
drop_outlier1 = df[(df['AQI']<165) & (df['PM10']>200)].index
drop_outlier2 = df[(df['AQI']>200) & (df['PM10']<110)].index
df = df.drop(drop_outlier1)
df = df.drop(drop_outlier2)

In [ ]:
plt.figure(figsize=(8,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'PM10', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
plt.figure(figsize=(12,4),dpi=200)
palette ={'Good': "g", 'Poor': "C0", 'Very Poor': "C1",'Severe': "r","Moderate": 'b',"Satisfactory":'y'}
sns.scatterplot(x= 'AQI', y= 'PM2.5', data=df,hue ='AQI_Bucket',palette = palette, ci= None)

In [ ]:
df.info()

In [ ]:
sns.boxplot(data=X)

In [ ]:
sns.pairplot(data=X)

In [ ]:
X.info()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
Scaler = StandardScaler()

In [ ]:
scaled_X_train = Scaler.fit_transform(X_train)
scaled_X_test = Scaler.transform(X_test)

In [ ]:
from sklearn.svm import SVR

In [11]:
param_grid = {'C':[0.001,0.01,0.1,0.5,1],
             'kernel':['linear','rbf','poly'],
              'gamma':['scale','auto'],
              'degree':[2,3,4],
              'epsilon':[0,0.01,0.1,0.5,1,2]}

In [12]:
from sklearn.model_selection import GridSearchCV

In [13]:
svr = SVR()
grid = GridSearchCV(svr,param_grid=param_grid)

NameError: name 'SVR' is not defined

In [ ]:
grid.fit(scaled_X_train,y_train)

In [ ]:
grid.best_params_

In [ ]:
model_predict=grid.predict(scaled_X_test)

In [ ]:
model_predict[:10]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
mean_squared_error(model_predict, y_test)

In [ ]:
np.sqrt(mean_squared_error(y_test,model_predict))

In [ ]:
x=np.arange(0,len(y_test))
print(x)

In [ ]:
fig = plt.figure(figsize =(12,8), dpi=200)

# Add set of axes to figure
axes = fig.add_axes([0, 0, 1, 1]) # left, bottom, width, height (range 0 to 1)

# Plot on that set of axes
axes.plot(x[0:50], y_test[0:50], label='y_test')
axes.plot(x[0:50], model_predict[0:50], label='predict')
plt.legend()
plt.show()